#red {
    color: red;
    background-color: antiquewhite;
}

#blue {
    color: blue;
    background-color: rgb(224, 255, 252);
}

#orange {
    color: orange;
    background-color: bisque;
}

#green {
    color: green;
}

#yellow {
    color: yellow;
}

.color-title {
    font-weight: normal;
}

img {
    height: 100px;
    width: 100px;
}

* {
    align-items: center;
    text-align: center;
}