/* Write your code here: */
h1, h2{
    color: purple;
}
.box>.done{
    color: firebrick;
}
.box li{
    color: blue;
}
/* p.done>li.done{
    color: seagreen;
} */
.list li.done{
    color: seagreen;
    font-size: 1.5rem;
}
body ul p.done{
    font-size: 3rem;
    color: blueviolet;
}