<%- include('partials/header') %>
    <div class="jumbotron centered">
        <div class="container">
            <i class="fas fa-key fa-6x"></i>
            <h1 class="display-3">Credentials incorrect</h1>
            <p class="lead">E-mail or Password is incorrect Please Login Again !</p>
            <hr>

        </div>
    </div>

    <%- include('partials/footer') %>